<div class="accordion">
  <% @tunes.each do |tune| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= tune.id %>">
        <%= tune.name %> <br />
      </a>
    </div>
    <div id="collapse<%= tune.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
          <% tune.attachments.each do |attachment| %>
            <div class="tune-version">
              <h4><%= attachment.version_name %></h4>
              <audio controls="control" preload="none" width="100%" src="<%= attachment.file.url %>" type="audio/mp3" >
              </audio>
            </div>
          <% end %>
        <%= link_to '', edit_tune_path(tune), :class => 'icon-edit' %> &nbsp; &nbsp; 
        <%= link_to '', tune, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'icon-remove' %>
      </div>
    </div>
  </div>
  <% end %>
</div>


